<app-loader *ngIf="loading"></app-loader>

<app-network-error *ngIf="network" (onReloadEvent)="onReload()"></app-network-error>

<ng-container *ngIf="success">
    <header style="height: 15vh;">

    </header>
    <section class="pb-5 container">
        <div class="row" style="margin: 0;">
            <div class="col-lg-4 my-4" *ngFor="let service of details?.services; let i= index"
                 style="cursor: pointer;  margin-top: 20px !important; "
                 routerLink="/dashboard/purchase/{{service?.display_name}}">

                <div class="card" style="max-height: 100%; height: 100%; border-radius: 0;">

                    <div style="width: 100%;overflow: hidden;">

                        <img src="{{external_url + service?.images_url}}"
                             onerror="this.src='../assets/img/airtime01.png'" style="width: 100%;">

                    </div>
                    <hr>

                    <div style="text-align: center;font-weight: bold;font-size: 15px;   margin-top: 20px;margin-bottom: 20px;">
                        <span class="text-center">Buy {{service?.name}}</span>
                    </div>

                </div>

            </div>
        </div>
    </section>
</ng-container>
