<div class="menu-icon">
    <i class="menu-icon fa fa-bars font20 pt-3 ml-3" (click)="sidebarToggle()"></i>
</div>
<section class="sidebar" [ngClass]="{'sidebar-isOpen': isOpen}"  style="background: url(N2.jpg);background-repeat: no-repeat;background-position: right;">
    <div class="sidebar-wrapper" style="background-color: transparent;">
        <div class="d-body">
            <div>
                <img src="assets/img/logoNs.png" alt="naija sub logo" style="width: 100%;"/>
            </div>
            <div class="mt-auto text-white">
                <h3 class="font40 font-bold ">Easy to use</h3>
                <p class="font-light pb-5" style="line-height: 2;">Take advantage of our exclusive services and purchase  airtime , cheap data, and cryptocurrencies </p>
            </div>
        </div>
    </div>
</section>
