/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: #7d402b solid 1.5px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: rgba(125, 63, 43, 0.288);
}

.white-check {
  background-color: #dbc3b3;
  padding: 2rem;

  .checkmark {
    border: white solid 1.5px;
    height: 30px;
    width: 30px;
    top: -10px;
    left: -13px;
  }

  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 11px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }
}

.grey-check {
  background: #fcfcfc;
  padding: 2rem;

  .checkmark {
    border: #999999 solid 1.5px;
    height: 30px;
    width: 30px;
    top: -10px;
    left: -13px;
  }

  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 11px;
    top: 7px;
    border: solid #999;
    border-width: 0 2px 2px 0;
  }

}
